
body {
	background-color: rgba(0, 0, 0, 0.899)    
}
img{
	height: 150px;
	width: 150px;
	margin-top: 12px;
}
.container{
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #dabeeb;
	box-shadow: 0 0 10px rgba(201, 12, 12, 0.1);
	border-radius: 5px;
	margin-top: 0 auto ;	
}
.signup-container header {
	text-align: center;
	margin-bottom: 20px;
	
}
.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="tel"],
.signup-form input[type="date"]
{
	width: 95%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #972a2a;
	border-radius: 3px;
	margin-top: 0px;
}
.signup-form button {
	width: 100%;
	padding: 10px;
	background-color: #d55c2c;
	border: none;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
.signup-form button:hover {
	background-color: #0056b3;
}
h1{
color: rgb(92, 105, 151); text-align: center;
}
.signup-form button{
	background-color: #007BFF;
}




/* CSS for the loading spinner */
.loading-spinner {
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-top: 4px solid #225183;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
	margin: 0 auto;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  